.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button-nav{
  background-color: #33c496;
  height: 50px;
  width:150px;
  border-radius:10px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:white;
  padding:10px;
  border:none;
}
.plate{
  display:block;
  justify-content: center;
  align-items: center;
  display: inline-block;
  background-color: white;
  width:250px;
  height:fit-content;
  border-radius: 30px;
  margin:25px;
  padding:40px;
}
.plate-holder{
  display:block;
  justify-content: center;
  align-items: center;
}
.plate-long{
  display:inline-block;
  width:30%;
  height:90px;
  padding:17px;
}
.long-plate-p{
  margin-left:30px;
  color:#404040;
  display:inline-block;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bolder;
  font-size:20px;
}
.long-plate-p-value{
  margin-left:10px;
  color:#33c496;
  display:inline;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bolder;
  font-size:30px;
}
.plate-title{
  margin-top:10px;
  color:#404040;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bolder;
  font-size:30px;
}
.plate-description{
  margin-top:5px;
  color:#5c5c5c;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bolder;
  font-size:15px;
}
.main-button{
  border:none;
  background-color: #33c496;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:20px;
  height:50px;
  width:120px;
  border-radius: 15px;
}
.absolute-img{
    position: absolute;
    height:200px;
    margin-right:10px;
}
.nav-link:link{
  text-decoration: none;
  font-size:17px;
  color:#5c5c5c;
  font-weight:bolder;
  display: inline;
}
.nav-link:visited{
  text-decoration: none;
  color:#5c5c5c;
  font-weight:bolder;
}
.nav-link:hover{
  color:#33c496;
  font-size:18px;
  transition: 0.2s;
}
.l-margin-m{
  margin-left:50px;
}



